$bg: white;
$bg-off: darken($bg, 10%);
$fg: #131313;
$fg-disabled: lighten($fg, 30%);
$fg-light: lighten($fg, 60%);
$shadow-gray-default: #aaa;
$brown: #7f4000;
$yellow: #ffbd0d;
$orange: #ff8811;
$red: #da645d;

$default-line-height: 1.4;

$site-width: 1024px;

$radius-small: 4px;
$radius-large: 999px;

// easeInSine
$easing-default: cubic-bezier(0.47, 0, 0.745, 0.715);

$duration-tiny: 0.15s;
$duration-short: 0.3s;
$duration-normal: 0.4s;

$phone-min: 425px;
$tablet-min: 768px;
$desktop-min: $site-width;

$small-phone-max: ($phone-min - 1);
$phone-max: ($tablet-min - 1);
$tablet-max: ($desktop-min - 1);

$box-shadow_small: get-small-box-shadow();
