@function get-small-box-shadow($color: $shadow-gray-default) {
  @return 0 2px 6px $color;
}

@mixin shadow-small(
  $color: $shadow-gray-default,
  $with-focus: false,
  $focus-color: null
) {
  @if ($focus-color == null) {
    $focus-color: darken($color, 10%);
  }

  box-shadow: get-small-box-shadow($color);

  @if $with-focus {
    &:focus,
    &:focus-within {
      box-shadow: 0 2px 6px $focus-color;
    }
  }
}
